*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color:rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.part1{
  width: 350px;
  height: 150px;
  background-color: rgb(131, 22, 233);
  font-family:sans-serif;
  
}
.time{
  
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  

  

}

.time div  {
  background-color:black;
  height: 70px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  border-radius: 7px;
  letter-spacing: 7px;
  margin-left: 8px;
}
.part2 span{
  color: aliceblue;
  font-size: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 32px;
  

  

}

